<h2> Add a new book </h2>

<form action="/books" method="post">
  <label for="title">Book Title: </label>
  <input id="title" name="title" type="text">
  <label for="author">Author: </label>
  <input id="author" name="author" type="text">
  <button type="submit">Add Book</button>
</form>
