<form action= "/search_books" class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="text" placeholder="Search Book" name="keyword">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>


<hr>
<% if @books.any?() %>
  <h1>Here is our library of books!</h1>

  <ul>
    <% @books.each() do |book| %>
      <li><a href="/books/<%= book.id()%>">Title: <%= book.title()%><br> Author: <%= book.author() %></a> </li>
    <% end %>
  </ul>

<% else %>

    <p>There are no lists yet!</p>

<% end %>


<a href="/">Back to Home Page</a>
