<h2> Add a member </h2>

<form action="/patrons" method="post">
  <label for="name">Patron Name: </label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Member</button>
</form>
